<% if(typeof errors!= 'undefined') { %>
<%    errors.forEach(function(error){ %>
          <!-- Logout Modal-->
<script>showError()</script>
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Erro!</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body"><%= error.msg %></div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
<%    })        %>
<% } %>

<% if(success_msg!= '') { %>
  <div class="modal fade" id="logoutModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false"> <div class="modal-dialog" role="document"> <div class="modal-content"> <div class="modal-header"> <h5 class="modal-title" id="exampleModalLabel">Você saiu!</h5> <button class="close" type="button" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button> </div><div class="modal-body">Aproveite os benefícios de seu email institucional!</div><div class="modal-footer"> <button class="btn btn-secondary" type="button" data-dismiss="modal">Fechar</button> </div></div></div></div>      <% } %>

<% if(error_msg != '') { %>
        <!-- Logout Modal-->`
<script>showError()</script>
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Erro!</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Você não se logou, ou sua sessão expirou!</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
      <% } %> 
<% if(error != '') { %>
         <!-- Logout Modal-->
         <div class="modal fade" id="logoutModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
               <div class="modal-dialog" role="document">
                     <div class="modal-content">
                           <div class="modal-header">
                                 <h5 class="modal-title" id="exampleModalLabel">Algo deu errado!</h5>
                                 <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">×</span>
                                    </button>
                              </div>
                              <div class="modal-body"><%= error %></div>
                              <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Fechar</button>
                              </div>
                        </div>
                  </div>
            </div>
            
      <% } %> 

      <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>